#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
th {
  width: 236px;
}
.search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}
#container {
  padding: 20px 0;
}
.search input {
  height: 32px;
  width: 296px;
  border-radius: 18px;
  border: none;
  background-color: #f1f1f1;
  padding: 4px 10px;
  color: #22457e;
  font-weight: bold;
  outline: none;
}
th {
  background: #513184;
  font-size: 18px;
  text-align: left;
  color: white;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #e1e3ff;
}
